{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype=multipart/form-data>
    <label for="caption">Say something!</label>
    <input name="caption" id="caption" value="{{ request.form['caption'] }}" required>
    <label for="photo">Add a photo!</label>
    <input class='picture-file-input' type=file name=photo>
    <label for="all_followers">Show this post to all followers?</label>
    <select name="all_followers" method="GET" action="/">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
    <input type=submit value="Post it!">
  </form>
{% endblock %}